.red-banner {
  background-color: red;
  width: 100%;
  height: 90px;
}

.yellow-side-1 {
  float: left;
  background-color: yellow;
  height: 600px;
  width: 110px;
}

.blue-center {
  background-color: blue;
  width: 100%;
  height: 600px;
  float: center;
}

.yellow-side-2 {
  float: right;
  background-color: yellow;
  height: 600px;
  width: 110px;
  position: relative
}

.green-bottom {
  background-color: green;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
